/* 样式初始化 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
/*body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }*/
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/* 页面样式 */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", 
  "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  
  position: relative;
  background-color: #f1f1f1;
}

html, body {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #666;
  padding-top: 20px;
}

.content {
  position: absolute;
  // width: 640px;
  // height: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
}

.info {
  position: relative;
  font-size: 16px;
  color: #666;
  line-height: 30px;
  height: 30px;
  .info-steps {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    top: 0;
  }
  .info-minsteps {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    right: 0;
    top: 0;
  }
}

#canvas {
  display: block;
  background-color: #696969;
}

.footer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);
  -webkit-transform: translateX(-50%) translateY(0);
  -moz-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  text-align: center;
  color: #666;
  .footer-link {
    margin-bottom: 10px;
    font-size: 0;
    a {
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
      margin-right: 10px;
      i {
        font-size: 24px;
        color: #666;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .copyright{
    font-size: 16px;
  }
}

@media screen and (max-width: 1440px) {
  .footer {
    bottom: 6px !important; 
  }
}
